#################################################################################
#                                                                               #
#                       Template for C projects                                 #
#                                                                               #
# Automatically made by github.                                                 #                              #
#################################################################################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


#################################################################################
#                                                                               #
#                       Template for MikroC projects                            #
#                                                                               #
# Based on the following github project :                                        #
# https://github.com/toptal/gitignore/blob/master/templates/MikroC.gitignore    #                              #
#################################################################################


# Backup
*.pdsbak

# Debug
Debug

# Generated files
*.workspace
*.log
*.bmk
*.brk
*.cfg
*.dbg
*.dct
*.dlt
*.hex
*.lst
*.dic
*_callertable.txt
*.user.dic
*.asm
*.c.ini
*.h.ini
*.cp
*.mcl
